body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #164975;
   
    align-items: center;
}

header {
    background-color: #4CAF50;
    
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: rgb(226, 29, 29);
    text-decoration: none;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

.galeria {
    display: flex;
    justify-content: space-around;
}

.galeria img {
    width: 30%;
    height: auto;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5em;
}

form input, form textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #611c1c;
    border-radius: 4px;
}

form button {
    background-color: #4CAF50;
    color: rgb(65, 27, 27);
    padding: 0.75em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

footer {
    background-color: #4CAF50;
    color: rgb(56, 14, 14);
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

head {
    background-color: #164975;
}

title {
    background-color: #611c1c;
}




